<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      <h1 class="font-weight-bold">{{ title }}</h1>
      <app-post-list [posts]="posts"></app-post-list>
    </div>
  </body>
</html>
