<li class="list-group-item" [ngClass]="{ 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0 }">
  <div class="d-flex w-100 justify-content-between">
    <h2 class="mb-1 font-weight-bold">{{ post.title }}</h2>
    <small class="text-muted font-italic">{{ post.created_at|date:'short' }}</small>
  </div>
  <p class="mb-1">{{ post.content }}</p>
  <div class="btn-group">
    <button type="button" (click)="likeIt()" class="btn btn-success">Love it!</button>
    <button type="button" (click)="dontLikeIt()" class="btn btn-danger">Don't love it!</button>
  </div>
</li>
